.App {
  width: 100%;
  min-height: 100vh;
}

.marquee-container {
  overflow: hidden;
}

.marquee {
  display: inline-block;
  animation: marquee 24s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

